.app {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 128px;
  flex-direction: column;
}

.app > p {
  font-size: 32px;
  font-weight: 600;
}

.yatoro-img {
  cursor: pointer;
}

